.form-title {
    text-align: center;
    color: brown;
}
.container {
    background-color: cornflowerblue;
    border: 1px dashed black;
}
form {
    text-align: left;
}
#shape-canvas {
    height: 600px;
    width: 600px;
    background-color: chocolate;
    border: 1px solid black;
}
.row {
    position: relative;
    float: right;
    clear: both;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    
}